header {
	background:transparent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	display: flex;
	align-items: center;
	margin-top:20px;
	font-size:30px;
	
}

header * { 
	display: inline;
	-webkit-user-select: none;
}

header li { 
	margin: 4px;
}

body{
	background-color: black;}

h2{
	font-size: 25px;
	background: -webkit-linear-gradient(red, #ff6666);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(5px 5px #000000);
	position: relative;
	text-align: center;
	z-index: -1;
	margin-top: 200px;
}