

header {
	background:transparent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	display: flex;
	align-items: center;
	margin-top:20px;
	font-size:30px;
	
}


body {
	height: 100%;
	background-image: url("logiiin.gif");
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
	margin-top: 80px;
	padding: 30px;
}

header * { 
	display: inline;
}

header li { 
	margin: 4px;
}

header li a {
	color: white;
	text-decoration: none;
}

.loginbox {
	width:240px;
	height:300px;
	top:70%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	padding:70px 30px;
	background: #000;
	background-image: linear-gradient(orange,#ff6600);
	border:1px black solid;
}	

.avatar {
	width:100px;
	height:80px;
	position:absolute;
	top:-50px;
	left:calc(50% - 60px);
}


.loginbox input {
	width:100%;
	margin-bottom:5px;
}

.loginbox input[type="text"], input[type="password"] {
	border:none;
	border-bottom:1px solid white;
	background: transparent;
	outline: none;
	height: 40px;
	color: white;
	font-size: 16px;
}

.loginbox input[type="submit"] {
	border:none;
	outline: none;
	height:40px;
	background:black;
	color:white;
	font-size:18px;
	border-radius:20px;
}